<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>LRS 2020 Inspection app</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.cgg.gov.LRSOfficer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>3.0</string>
	<key>CFBundleName</key>
	<string>LRS 2020 Inspection app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>8</string>
	<key>FLTEnableImpeller</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>The LRS app requires access to your camera to capture plot images for uploading plot details.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow access to your location to capture estimated plot areas even when the app is in the background..</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow access to your location to capture estimated plot areas when the app is in the background..</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow access to your location to capture estimated plot areas while the app is in use.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The LRS app requires access to your photo library to select plot images for uploading plot details</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
